[class*="col"] {
    background-color: #006cfa;
    border: 1px solid white;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.col-nested {
    padding: 10px;
    display: block;
}

.nested {
    background-color: #00e165;
    border: 1px solid #006cfa;
}

.col {
    min-height: 20px;
    background-color: #fff;
}